
body
{
	background-color: deepskyblue;
}
h1 {
	text-align:center;
	font-size:70px;
color: beige;
}

a:link{color:white;}
a:hover{color:white;}
a:active{color:red;}
a:visited{color:white;}
	
	
img{
	width:10%;
float:none;
}

p {
font-family: sans-serif;
color:grey;
 }
 

footer {
	padding-bottom: 10ex;
}
